* {
	background-color: rgba(255, 255, 255);
	font-family: 'Raleway', sans-serif;
}
.shadow-box {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
body {
  padding: 0;
  margin: 0;
  background-color: #eee;
  font-family: 'Raleway', sans-serif;
}
.title-text1 {
  font-size: 6vw;
}
.title-text2 {
  font-size: 4vw;
}
p {
  font-size: 3vw;
  font-weight: 100;
}
.container {
	width: 100%;
	max-width: 1700px;
	padding: .7%;
}
#header-bar {
	display: flex;
	position: fixed;
	width: 90%;
	height: 50px;
	z-index: 10000;
	background-color: rgba(0, 0, 0, 0.65);
	color: white;
}
#header-list {
	display: flex;
	position: absolute;
	right: 0%;
	width: 40%;
	height: 100%;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  font-size: 20px;
}
#header-name {
	display: flex;
	height: 100%;
	width: 20%;
	position: absolute;
	left: 0%;
	justify-content: center;
	align-items: center;
	font-size: 25px;
}
.header-links {
	position: relative;
	text-decoration: none;
	box-shadow: none;
	color: white;
}
.header-links:hover {
	color: white;
	text-decoration: none;
}
.header-links:after {
	content: "";
	position: absolute;
	width: 0;
	height: 3px;
	bottom: -5px;
	left: 0;
	background-color: white;
	transition: width .3s ease, background-color .3s ease;
}
.header-links:hover:after {
  width: 45%;
}
.coke-blurb {
	font-size: 1.5rem;
	padding: 15px;
	color: #eee;
}
.div-title {
	font-size: 2rem;
	color: #eee;
	font-weight: 300;
	padding: 15px;
	border: 1px solid white;
	margin: 10px;
	border-radius: 10px;
}
#top-banner {
	display: flex;
  align-items: center;
  height: 100vh;
  margin-top: 0;
  position: relative;
  overflow: hidden;
  flex-wrap: wrap;
}
#name-title {
	position: absolute;
	z-index: 2;
	display: flex;
	flex-direction: column;
	margin-left: 8vw;
	margin-top: -5vh;
	color: #fff;
	font-size: 5rem;
	font-weight: 300;
	width: 50%;
}
#banner-video {
	display: block;
	width: auto;
	height: auto;
	min-height: 100vh;
	min-width: 100vw;
	object-fit: cover;
	position: relative;
	z-index: -1000;
	overflow: hidden;
}
.darken {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
	z-index: 1;
}
/*#container1 {
	height: 100%;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	max-width: 1650px;
	padding: 15px;
	z-index: 0;
	box-shadow: none;
}*/
#coke-container {
  margin: 0;
}
#coke-box2 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	background-color: #cc3341;
	height: 350px;
	margin: .5%;
}
#coke-box1 {
	display: block;
	margin: .5%;
	overflow: hidden;
	background: url(../Images/coca-cola.png);
	background-size: cover;
	background-position: center;
	height: 350px;
}
#div3 {
	background-color: #fff;
}
#teaser-div {
	padding: 0;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 80%;
	max-width: 1500px;
	height: 450px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5%;
  bottom: 2%;
  text-align: center;
}
.zoom-teaser {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
	box-shadow: 0px 0px 40px -17px rgba(0,0,0,0.75);
	text-align: center;
	height: 50%;
	width: 33.33%;
	padding-top: 75px;
	margin: 0;
	background-color: white;
	font-size: 1.7rem;
	border: 1px solid rgb(238, 238, 238);
	color: #232323;
	font-weight: 100;
	border-bottom: 40px solid #e53030;
}
#div4 {
	display: flex;
	background-color: #fff;
  /*background: url(../Images/education-banner.jpg) center center no-repeat;*/
	background-size: cover;
	height: 45vh;
	width: auto;
	margin-top: 1%;
	z-index: 0;
}
#div5 {
	display: flex;
  height: 25vh;
	background-color: #fff;
	margin-top: 1%;
}
#skills-title {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-size: 3rem;
	font-weight: 100;
	/*line-height: 60px;*/
	margin-top: 120px;
}



header {
	display: flex;
	justify-content: center;
}
.info-title {
	font-size: 40px;
	font-weight: 400;
	text-align: center;
}
.info-text {
	font-size: 30px;
	font-weight: 300;
	width: 60%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}







#box-container {
  position: relative;
  width: 75vw;
  max-width: 100%;
  min-width: 460px;
  height: 700px;
  background-color: #fff;
  margin: 30px auto auto auto;
  box-shadow: 2px 8px 34px 13px rgba(0, 0, 0, 0.1);
/*   border: 4px solid black; */
  margin-bottom: 5%;
}
.space {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 33.33%;
  height: 50%;
  background-color: #fff;
  border-left: 0.5px solid #eee;
  border-right: 0.5px solid #eee;
  box-sizing: border-box;
  transition: 600ms cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 1;
  font-size: 250px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  margin-bottom: 0;
  padding-top: 40px;
}
.pos1 {
  top: 0%;
  left: 0%;
}
.pos2 {
  top: 0%;
  left: 33.33%;
}
.pos3 {
  top: 0%;
  left: 66.66%;
}
.pos4 {
  top: 50%;
  left: 0%;
}
.pos5 {
  top: 50%;
  left: 33.33%;
}
.pos6 {
  top: 50%;
  left: 66.66%;
}
@media only screen and (max-width: 480px) {
  .pos1 {
  	top: 0%;
  	left: 0%;
  }
  .pos2 {
    top: 16.66%;
    left: 0%;
  }
  .pos3 {
    top: 33.33%;
    left: 0%;
  }
  .pos4 {
    top: 50%;
    left: 0%;
  }
  .pos5 {
    top: 66.66%;
    left: 0%;
  }
  .pos6 {
    top: 83.33%;
    left: 0%;
  }
  #box-container {
  	height: 2000px;
  	min-width: auto;
  }
  .space {
  	width: 100%;
  	height: 16.66%;
  }
  #div3 {
  	height: auto;
  }
}
.grow-div {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding-top: 0;
  top: 0%;
  left: 0%;
  transition: 600ms cubic-bezier(0.19, 1, 0.22, 1);
}
.hiddenP {
  visibility: hidden;
  font-size: 40px;
  margin-top: 0;
  color: black;
}
.showP {
  visibility: visible;
  margin-top: 20px;
}
img {
  height: 140px;
  box-shadow: none;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#expand-icon {
	position: absolute;
  height: 25px;
  padding: 0;
}
.zoom-button {
	display: flex;
	justify-content: center;
	align-items: center;
  overflow: visible;
  position: absolute;
  height: 52px;
  bottom: 2px;
  left: 0;
  border-radius: 0;
  width: 100%;
  transition: transform 300ms cubic-bezier(0.19, 1, 0.22, 1);
  transform: translate3d(0, 41px, 0);
  background-color: #cc3341;
  border: 1px solid #cc3341;
  padding: 10px 40px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  outline: 0;
  margin: 0;
  box-sizing: border-box;
}
.space:hover .zoom-button {
  transform: translate3d(0, 5px, 0);
}